In [241]:
from fi2010 import fetch_fi2010
import LobAttention, LobFeatures, LobPosition, LobTransformer
import numpy as np
import pandas as pd
pd.options.mode.copy_on_write = True

In [242]:
df = fetch_fi2010()
df

,STOCK,DAY,PRICE_ASK_0,PRICE_ASK_1,PRICE_ASK_2,PRICE_ASK_3,PRICE_ASK_4,PRICE_ASK_5,PRICE_ASK_6,PRICE_ASK_7,...,VOLUME_BID_5,VOLUME_BID_6,VOLUME_BID_7,VOLUME_BID_8,VOLUME_BID_9,LABEL_1TICK,LABEL_2TICK,LABEL_3TICK,LABEL_5TICK,LABEL_10TICK
0,1,1,2615,2618,2619,2620,2621,2623,2625,2626,...,100,143,134,123,128,0,0,0,0,0
1,1,1,2615,2619,2620,2621,2625,2626,2629,2633,...,159,100,143,134,123,0,0,0,0,0
2,1,1,2614,2615,2617,2619,2620,2621,2625,2626,...,159,100,143,134,123,-1,-1,0,0,0
3,1,1,2614,2617,2619,2620,2621,2625,2629,2633,...,100,143,134,123,128,0,0,-1,0,0
4,1,1,2614,2617,2619,2620,2621,2625,2629,2633,...,100,143,134,123,128,1,1,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
272936,5,10,3688,3690,3691,3692,3693,3695,3696,3697,...,100,768,300,682,950,0,-1,-1,0,1
272937,5,10,3688,3689,3690,3691,3692,3693,3694,3695,...,100,768,300,682,950,-1,-1,-1,-1,-1
272938,5,10,3677,3688,3689,3690,3691,3692,3693,3694,...,768,300,682,950,100,-1,-1,-1,-1,-1
272939,5,10,3677,3688,3689,3690,3691,3692,3693,3694,...,768,300,600,682,950,1,1,-1,-1,-1
272940,5,10,3677,3688,3689,3690,3691,3692,3693,3694,...,768,600,450,682,950,1,1,1,-1,-1

In [243]:
df2 = df[(df['DAY']==1) & (df['STOCK']==1) ]

# New idea

In [262]:
df_stock = df[(df['DAY']==1) & (df['STOCK']==1) ]
# df_stock['id']= df_stock.index
df_stock

,STOCK,DAY,PRICE_ASK_0,PRICE_ASK_1,PRICE_ASK_2,PRICE_ASK_3,PRICE_ASK_4,PRICE_ASK_5,PRICE_ASK_6,PRICE_ASK_7,...,VOLUME_BID_5,VOLUME_BID_6,VOLUME_BID_7,VOLUME_BID_8,VOLUME_BID_9,LABEL_1TICK,LABEL_2TICK,LABEL_3TICK,LABEL_5TICK,LABEL_10TICK
0,1,1,2615,2618,2619,2620,2621,2623,2625,2626,...,100,143,134,123,128,0,0,0,0,0
1,1,1,2615,2619,2620,2621,2625,2626,2629,2633,...,159,100,143,134,123,0,0,0,0,0
2,1,1,2614,2615,2617,2619,2620,2621,2625,2626,...,159,100,143,134,123,-1,-1,0,0,0
3,1,1,2614,2617,2619,2620,2621,2625,2629,2633,...,100,143,134,123,128,0,0,-1,0,0
4,1,1,2614,2617,2619,2620,2621,2625,2629,2633,...,100,143,134,123,128,1,1,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2122,1,1,2638,2642,2647,2648,2649,2651,2653,2657,...,270,50,100,200,1300,-1,1,-1,-1,-1
2123,1,1,2642,2647,2648,2649,2651,2653,2657,2660,...,1256,270,50,100,200,1,1,1,-1,-1
2124,1,1,2647,2648,2649,2651,2653,2657,2660,2664,...,1256,1100,1370,50,100,1,-1,1,-1,-1
2125,1,1,2637,2647,2648,2649,2651,2653,2657,2660,...,1370,50,100,200,1300,-1,-1,-1,1,-1
2126,1,1,2637,2647,2648,2649,2651,2653,2654,2657,...,1100,1370,50,100,200,0,1,-1,1,-1

In [263]:
columns_volume =[i for i in df_stock.columns if 'VOLUME' in i]
columns_volume=columns_volume[-11::-1]+columns_volume[10:]
columns_price =[i for i in df_stock.columns if 'PRICE' in i]
columns_price=columns_price[-11::-1]+columns_price[10:]

In [325]:
df_price = (
    df_stock[columns_price]
    .stack()
    .to_frame(name='price')
    .reset_index(level=[1])
    .drop(columns='level_1')
)


df_volume = (
    df_stock[columns_volume]
    .stack()
    .to_frame(name='volume')
    .reset_index(level=[1])
    .drop(columns='level_1')
)
book = df_price
book['volume']=df_volume
book

      price  volume
0      2633     311
0      2629     146
0      2626     787
0      2625     150
0      2623     837
...     ...     ...
2126   2611    1100
2126   2605    1370
2126   2602      50
2126   2595     100
2126   2590     200

[42540 rows x 2 columns]

In [328]:
data = book.to_numpy().reshape(-1,20,2)
data[0]

array([[2633,  311],
       [2629,  146],
       [2626,  787],
       [2625,  150],
       [2623,  837],
       [2621,  151],
       [2620,  532],
       [2619,  164],
       [2618,  200],
       [2615,  353],
       [2606,  326],
       [2604,  682],
       [2602,  786],
       [2600,  893],
       [2599,  159],
       [2595,  100],
       [2593,  143],
       [2591,  134],
       [2588,  123],
       [2579,  128]], dtype=int64)

In [330]:
book.loc[1]==data[1]

   price  volume
1   True    True
1   True    True
1   True    True
1   True    True
1   True    True
1   True    True
1   True    True
1   True    True
1   True    True
1   True    True
1   True    True
1   True    True
1   True    True
1   True    True
1   True    True
1   True    True
1   True    True
1   True    True
1   True    True
1   True    True

# Old idea

In [77]:
need_columns2=[i for i in df2.columns if ('VOLUME' in i) or ('PRICE' in i)]
df3 = df2[need_columns2]
df3

,PRICE_ASK_0,PRICE_ASK_1,PRICE_ASK_2,PRICE_ASK_3,PRICE_ASK_4,PRICE_ASK_5,PRICE_ASK_6,PRICE_ASK_7,PRICE_ASK_8,PRICE_ASK_9,...,VOLUME_BID_0,VOLUME_BID_1,VOLUME_BID_2,VOLUME_BID_3,VOLUME_BID_4,VOLUME_BID_5,VOLUME_BID_6,VOLUME_BID_7,VOLUME_BID_8,VOLUME_BID_9
0,2615,2618,2619,2620,2621,2623,2625,2626,2629,2633,...,326,682,786,893,159,100,143,134,123,128
1,2615,2619,2620,2621,2625,2626,2629,2633,2637,2646,...,326,682,786,393,500,159,100,143,134,123
2,2614,2615,2617,2619,2620,2621,2625,2626,2629,2633,...,326,682,786,393,500,159,100,143,134,123
3,2614,2617,2619,2620,2621,2625,2629,2633,2637,2646,...,326,682,786,893,159,100,143,134,123,128
4,2614,2617,2619,2620,2621,2625,2629,2633,2637,2646,...,326,682,786,893,159,100,143,134,123,128
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2122,2638,2642,2647,2648,2649,2651,2653,2657,2660,2664,...,423,460,88,3155,1256,270,50,100,200,1300
2123,2642,2647,2648,2649,2651,2653,2657,2660,2664,2667,...,62,423,92,88,3155,1256,270,50,100,200
2124,2647,2648,2649,2651,2653,2657,2660,2664,2667,2668,...,593,423,92,88,3155,1256,1100,1370,50,100
2125,2637,2647,2648,2649,2651,2653,2657,2660,2664,2667,...,92,88,3155,1256,1100,1370,50,100,200,1300
2126,2637,2647,2648,2649,2651,2653,2654,2657,2660,2664,...,92,588,1098,2057,1256,1100,1370,50,100,200

In [85]:
for _,row in df3.iterrows():
    values = row
    # for num in range(10):
    #     current_columns = [i for i in df3.columns if str(num) in i]
    #     values = row[current_columns]
        
values

PRICE_ASK_0     2637
PRICE_ASK_1     2647
PRICE_ASK_2     2648
PRICE_ASK_3     2649
PRICE_ASK_4     2651
PRICE_ASK_5     2653
PRICE_ASK_6     2654
PRICE_ASK_7     2657
PRICE_ASK_8     2660
PRICE_ASK_9     2664
PRICE_BID_0     2636
PRICE_BID_1     2634
PRICE_BID_2     2624
PRICE_BID_3     2619
PRICE_BID_4     2617
PRICE_BID_5     2611
PRICE_BID_6     2605
PRICE_BID_7     2602
PRICE_BID_8     2595
PRICE_BID_9     2590
VOLUME_ASK_0      26
VOLUME_ASK_1     493
VOLUME_ASK_2     945
VOLUME_ASK_3      91
VOLUME_ASK_4     210
VOLUME_ASK_5      98
VOLUME_ASK_6    1068
VOLUME_ASK_7      90
VOLUME_ASK_8     200
VOLUME_ASK_9    1600
VOLUME_BID_0      92
VOLUME_BID_1     588
VOLUME_BID_2    1098
VOLUME_BID_3    2057
VOLUME_BID_4    1256
VOLUME_BID_5    1100
VOLUME_BID_6    1370
VOLUME_BID_7      50
VOLUME_BID_8     100
VOLUME_BID_9     200
Name: 2126, dtype: int64

In [118]:
b= pd.DataFrame(values)

In [127]:
b.melt(id_vars=['price','volume'],var_name='id',value_name='PRICE_ASK_3')

KeyError: "The following 'id_vars' are not present in the DataFrame: ['price', 'volume']"

In [113]:
a= np.array([
    1,2,3,4,5,6,7,8,9,10,11,12
]).reshape(2,2,3)
a

array([[[ 1,  2,  3],
        [ 4,  5,  6]],

       [[ 7,  8,  9],
        [10, 11, 12]]])

In [93]:
np.array(values).reshape(2,10,-1)

array([[[2637, 2647],
        [2648, 2649],
        [2651, 2653],
        [2654, 2657],
        [2660, 2664],
        [2636, 2634],
        [2624, 2619],
        [2617, 2611],
        [2605, 2602],
        [2595, 2590]],

       [[  26,  493],
        [ 945,   91],
        [ 210,   98],
        [1068,   90],
        [ 200, 1600],
        [  92,  588],
        [1098, 2057],
        [1256, 1100],
        [1370,   50],
        [ 100,  200]]], dtype=int64)

In [56]:
df3.loc[0]

PRICE_ASK_0     2615
PRICE_ASK_1     2618
PRICE_ASK_2     2619
PRICE_ASK_3     2620
PRICE_ASK_4     2621
PRICE_ASK_5     2623
PRICE_ASK_6     2625
PRICE_ASK_7     2626
PRICE_ASK_8     2629
PRICE_ASK_9     2633
PRICE_BID_0     2606
PRICE_BID_1     2604
PRICE_BID_2     2602
PRICE_BID_3     2600
PRICE_BID_4     2599
PRICE_BID_5     2595
PRICE_BID_6     2593
PRICE_BID_7     2591
PRICE_BID_8     2588
PRICE_BID_9     2579
VOLUME_ASK_0     353
VOLUME_ASK_1     200
VOLUME_ASK_2     164
VOLUME_ASK_3     532
VOLUME_ASK_4     151
VOLUME_ASK_5     837
VOLUME_ASK_6     150
VOLUME_ASK_7     787
VOLUME_ASK_8     146
VOLUME_ASK_9     311
VOLUME_BID_0     326
VOLUME_BID_1     682
VOLUME_BID_2     786
VOLUME_BID_3     893
VOLUME_BID_4     159
VOLUME_BID_5     100
VOLUME_BID_6     143
VOLUME_BID_7     134
VOLUME_BID_8     123
VOLUME_BID_9     128
Name: 0, dtype: int64

In [50]:
need_columns3=[i for i in df3.columns if '1'in i]
df3[need_columns3]

        PRICE_ASK_1  PRICE_BID_1  VOLUME_ASK_1  VOLUME_BID_1
0              2618         2604           200           682
1              2619         2604           164           682
2              2615         2604           200           682
3              2617         2604           938           682
4              2617         2604           938           682
...             ...          ...           ...           ...
207189         1292         1288          1653           413
207190         1292         1288           658           413
207191         1292         1288           658           413
207192         1292         1288           658           413
207193         1292         1288           658           413

[25413 rows x 4 columns]